<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <section class="container my-5">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-center mb-4">About Best Cars</h2>
            <div class="card" style="width: 36rem;">
                <p>Welcome to Best Cars dealership,</p> 
                <p>home to the best cars in North America</p> 
                <p>and soon in Canada. We sell domestic and</p> 
                <p>imported cars at reasonable pricessssss.</p>
            </div>
          </div>
        </div>
      </section>
</body>
</html>